* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

@media only screen and (min-width: 821px){
 
.reading {

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-top: 8rem;
  width: 11.8rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;

}

.left {
  background-image: url(./assets/desktop/image-hero-left.png);
  background-repeat: no-repeat;
  width: 50rem;
  height: 30.3rem;
}

.right {
  background-image: url(./assets/desktop/image-hero-right.png);
  background-repeat: no-repeat;
  width: 50rem;
  height: 30.3rem;
}

.text-wrapper {
  text-align: center;
  padding-top: 6rem;

}

#title{
  font-size: 5.5rem;
  font-weight: 900;
  line-height:  5.5rem; 
  margin-bottom: 3.4rem;
  font-style: normal;
  color: #28283d;
  width: 350px;
  margin: 0 auto 0 auto;

}

.heading {
  font-weight: 500;
  font-size: 1.8rem;
  color: #87879d;
  width: 500px;
  margin-top: 20px;
}

#top-buttons{
  text-align: center;
}

.downloadbtn {
  width: 19.3rem;
  height: 5.8rem;
  border-radius: 35px;
  border: none;
  font-size: 1.6rem;
  font-weight: 800;
  color: white;
  margin-top: 3.2rem;
  background-color:#4D96A9 ;
  
}

.downloadbtn span {
  color: #8fe3f9;
}

.downloadbtn:hover {
  background-color: #71C0D4;
  cursor: pointer;
}

.whatbtn {
  width: 13.9rem;
  height: 5.8rem;
  border-radius: 35px;
  border: none;
  background-color:#855FB1;
  font-size: 1.6rem;
  font-weight: 800;
  color: white;
  margin-left: 1.6rem;
  
}

.whatbtn:hover {
  background-color: #B18BDD;
  cursor: pointer;
}


.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 11rem;
}

.one p {
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid #87879d73;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.one p::before {
  content: "";
  height: 8.4rem;
  border-left: 1px solid #87879d73;
  position: absolute;
  top: -8.3rem;
  transform: translateX(-100%);
}

.imageGalleryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.4rem;
  overflow: hidden;
}

.imageGalleryContainer img {
  width: 25rem;
  margin: 0 3rem;
  border-radius: 10px;
}

.textcontent {
  margin-top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textcontent h2 {
  font-size: 1.6rem;
  color: #4d96a9;
  line-height: 2.6rem;
  letter-spacing: 0.4rem;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.textcontent h1 {
  font-size: 4rem;
  font-weight: 700;
  width: 45rem;
  margin-bottom: 3.2rem;
}

.textcontent p {
  font-size: 1.8rem;
  width: 54rem;
  color: #87879d;
}

.two {
  width: 100%;
  height: 30.8rem;
  background-image: linear-gradient(
      hsla(192, 37%, 48%, 0.9),
      hsla(192, 37%, 48%, 0.9)
    ),
    url(./assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(192, 37%, 48%);
  margin-top: 18.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.number {
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid #87879d73;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-weight: 500;
}

.number::before {
  content: "";
  height: 8.4rem;
  border-left: 1px solid #87879d73;
  position: absolute;
  top: -8.4rem;
  transform: translateX(-100%);
}

.two h1 {
  font-size: 4rem;
  font-weight: 700;
  width: 35rem;
  color: #fafafa;
}

.footer_summary {
  font-size: 1.8rem;
  width: 35rem;
  color: #fafafa;
}

.btn {
  width: 19.3rem;
  height: 5.8rem;
  border-radius: 35px;
  border: none;
  font-size: 1.6rem;
  font-weight: 800;
  color: white;
  margin-top: 3.2rem;
  background-color: #855FB1;
}

.btn:hover{
  background-color:#B18BDD;
  cursor: pointer;
}
.btn span{
  color:#D9B8FF ;
}
}



/* tablet view */
@media only screen and (min-width: 768px) and (max-width: 820px) {
 .logo-div{
  display: flex;
  justify-content: center;
 }


  .right{
    display: none;
  }
  .left{
    display: none;
  }
  

  .imageGalleryContainer {
    width: 689px;
  
  }

  .imageGalleryContainer img {
    width: 164px;
    height: 156px;
    border-radius: 10px;
    }
  

  .textcontent p {
    font-size: 1.6rem;
  }

  .two {
   
    height: 428px;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(
        hsla(192, 37%, 48%, 0.9),
        hsla(192, 37%, 48%, 0.9)
      ),
      url(./assets/tablet/image-footer.jpg);
  }
.two h1{
  margin-top: 30px;
}
  .btn{
    margin-bottom: 40px;
  }
}

/* moblie view */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .logo-div{
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
.mobile-group-image{
  width: 375px;
  height: 153px;
  background-image: url(/assets/tablet/image-hero.png); 
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;

}
#title{
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  width: 250px;
  text-align: center;
  color:#28283D ;
}
  .text-wrapper {
    padding-top: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5.7rem;
  }

  .text-wrapper h1 {
    font-size: 4rem;
    width: 25rem;
  }

  .heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #87879d;
    width: 500px;
    margin-top: 20px;
    text-align: center;
    width: 300px;
    margin: 20px auto 20px auto;
  }


  .downloadbtn {
    width: 19.3rem;
    height: 5.8rem;
    border-radius: 35px;
    border: none;
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
    margin-top: 3.2rem;
    background-color:#4D96A9 ;
    
  }
  
  .downloadbtn span {
    color: #8fe3f9;
  }
  
  .downloadbtn:hover {
    background-color: #71C0D4;
    cursor: pointer;
  }
  
  .whatbtn {
    width: 13.9rem;
    height: 5.8rem;
    border-radius: 35px;
    border: none;
    background-color:#855FB1;
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
  }
  
  .whatbtn:hover {
    background-color: #B18BDD;
    cursor: pointer;
  }
  #top-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 11rem;
  }
  
  .one p {
    width: 5.6rem;
    height: 5.6rem;
    border: 1px solid #87879d73;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
  }
  
  .one p::before {
    content: "";
    height: 8.4rem;
    border-left: 1px solid #87879d73;
    position: absolute;
    top: -8.3rem;
    transform: translateX(-100%);
  }
  .number {
    width: 5.6rem;
    height: 5.6rem;
    border: 1px solid #87879d73;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-weight: 500;
    margin: 0 auto 0 auto;
  }
  
  .number::before {
    content: "";
    height: 8.4rem;
    border-left: 1px solid #87879d73;
    position: absolute;
    top: -8.4rem;
    transform: translateX(-100%);
  }
  .imageGalleryContainer {
    
    margin-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;

    
  }

  .imageGalleryContainer img {
    width: 151px;
    height: 143px;
    border-radius: 10px;
    
  }

  .textcontent {
    margin-top: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .textcontent h2 {
    font-size: 16px;
    color: #4d96a9;
    line-height: 26px;
    letter-spacing: 4px;
    font-family: "Red Hat Display", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
 
  }
  
  .textcontent h1 {
    font-size: 32px;
    font-weight: 900;
    width: 280px;
    margin-bottom: 3.2rem;
    line-height: 36px;
  }
  
  .textcontent p {
    font-size: 16px;
    line-height: 26px;
    width: 54rem;
    color: #87879d;
    width: 280px;
    font-weight: 500;
  }
  .two {
    background-image: linear-gradient(
        hsla(192, 37%, 48%, 0.9),
        hsla(192, 37%, 48%, 0.9)
      ),
      url(./assets/mobile/image-footer.jpg);
    margin-top: 18rem;
    height: 510px;
    display: flex;
    flex-direction: column ;

  }

  .two h1 {
    font-style: normal;
    font-size: 32px;
    font-weight: 900;
    width: 250px;
    line-height: 36px;
    margin: 110px auto 0 auto;
    text-align: center;
    color: #FAFAFA;
  }

  .footer_summary {
    width: 300px;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #FAFAFA;
    margin: 50px auto 0 auto;
  }
  .btn {
    width: 19.3rem;
    height: 5.8rem;
    border-radius: 35px;
    border: none;
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
    margin-top: 3.2rem;
    background-color: #855FB1;
    
  }
  .footer-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .btn span{
    color:#D9B8FF ;
  }
}