* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

.reading {
  /* height: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  /* width: 144rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.logo {
  margin-top: 8rem;
  width: 11.8rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;

}

.left {
  background-image: url(./assets/desktop/image-hero-left.png);
  background-repeat: no-repeat;
  width: 55rem;
  height: 30.3rem;
  margin-left:-4rem ;
}

.right {
  background-image: url(./assets/desktop/image-hero-right.png);
  background-repeat: no-repeat;
  width: 55rem;
  height: 30.3rem;
  margin-right: -4rem;
}

.text-wrapper {
  text-align: center;
  padding-top: 6rem;

}

#title{
  font-size: 5.5rem;
  font-weight: 900;
  line-height:  5.5rem; 
  text-align: center;
  margin-bottom: 3.4rem;
  font-style: normal;
  color: #28283d;

}

.heading {
  font-weight: 500;
  font-size: 1.8rem;
  color: #87879d;
  text-align: center;

}

#top-buttons{
  text-align: center;
}

.downloadbtn {
  width: 19.3rem;
  height: 5.8rem;
  border-radius: 35px;
  border: none;
  font-size: 1.6rem;
  font-weight: 800;
  color: white;
  margin-top: 3.2rem;
  background-color:#4D96A9 ;
  
}

.downloadbtn span {
  color: #8fe3f9;
}

.downloadbtn:hover {
  background-color: #71C0D4;
  cursor: pointer;
}

.whatbtn {
  width: 13.9rem;
  height: 5.8rem;
  border-radius: 35px;
  border: none;
  background-color:#855FB1;
  font-size: 1.6rem;
  font-weight: 800;
  color: white;
  margin-left: 1.6rem;
  
}

.whatbtn:hover {
  background-color: #B18BDD;
  cursor: pointer;
}


.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 11rem;
}

.one p {
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid #87879d73;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.one p::before {
  content: "";
  height: 8.4rem;
  border-left: 1px solid #87879d73;
  position: absolute;
  top: -8.3rem;
  transform: translateX(-100%);
}

.imageGalleryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.4rem;
  overflow: hidden;
}

.imageGalleryContainer img {
  width: 25rem;
  margin: 0 3rem;
  border-radius: 10px;
}

.textcontent {
  margin-top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textcontent h2 {
  font-size: 1.6rem;
  color: #4d96a9;
  line-height: 2.6rem;
  letter-spacing: 0.4rem;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.textcontent h1 {
  font-size: 4rem;
  font-weight: 700;
  width: 45rem;
  margin-bottom: 3.2rem;
}

.textcontent p {
  font-size: 1.8rem;
  width: 54rem;
  color: #87879d;
}

.two {
  width: 100%;
  height: 30.8rem;
  background-image: linear-gradient(
      hsla(192, 37%, 48%, 0.9),
      hsla(192, 37%, 48%, 0.9)
    ),
    url(./assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(192, 37%, 48%);
  margin-top: 18.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.number {
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid #87879d73;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-weight: 500;
}

.number::before {
  content: "";
  height: 8.4rem;
  border-left: 1px solid #87879d73;
  position: absolute;
  top: -8.4rem;
  transform: translateX(-100%);
}

.two h1 {
  font-size: 4rem;
  font-weight: 700;
  width: 35rem;
  color: #fafafa;
}

.footer_summary {
  font-size: 1.8rem;
  width: 35rem;
  color: #fafafa;
}

.btn {
  width: 19.3rem;
  height: 5.8rem;
  border-radius: 35px;
  border: none;
  font-size: 1.6rem;
  font-weight: 800;
  color: white;
  margin-top: 3.2rem;
  background-color: #855FB1;
}

.btn:hover{
  background-color:#B18BDD;
  cursor: pointer;
}
.btn span{
  color:#D9B8FF ;
}
   




/* tablet view */
@media only screen and (max-width: 768px) {
  .logo {
    width: 11.9rem;
  }

  .header {
    flex-direction: column;
    width: 100%;
  }

  .left {
    background-image: none;
    background-image: url(./assets/tablet/image-hero.png);
    background-repeat: no-repeat;
    width: 75rem;
    background-size: contain;
    margin-top: 6.4rem;
  }
  .right {
    display: none;
  }

  .header h1 {
    font-size: 4.8rem;
    width: 33.9rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2.4rem;
  }

  .header p {
    font-size: 1.6rem;
    width: 45.7rem;
  }

  .imageGalleryContainer {
    width: 100%;
  }

  .imageGalleryContainer img {
    width: 16.4rem;
    margin: 1.1rem;
  }

  .textcontent p {
    font-size: 1.6rem;
  }

  .two {
    height: 42.8rem;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(
        hsla(192, 37%, 48%, 0.9),
        hsla(192, 37%, 48%, 0.9)
      ),
      url(./assets/tablet/image-footer.jpg);
  }

  .two h1 {
    margin-top: 9.2rem;
    margin-bottom: 3.2rem;
  }

  .footer_summary {
    width: 45.7rem;
    margin-bottom: 4rem;
  }

  .downloadbtn {
    margin-bottom: 6.2rem;
    height: 5.8rem;
  }
}

/* moblie view */
@media only screen and (max-width: 375px) {
  .left {
    width: 41.4rem;
    height: 15.3rem;
  }

  .text wrapper {
    padding-top: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5.7rem;
  }

  .text wrapper h1 {
    font-size: 4rem;
    width: 25rem;
  }

  .text wrapper p {
    width: 32.7rem;
  }

  .downloadbtn {
    margin-bottom: 1.6rem;
  }
  .whatbtn {
    margin-left: 0;
  }

  .imageGalleryContainer {
    flex-wrap: wrap;
    height: 32rem;
  }

  .imageGalleryContainer img {
    width: 15.1rem;
    height: 14.3rem;
    flex-wrap: wrap;
  }

  .textcontent h2 {
    font-size: 1.6rem;
  }

  .textcontent h1 {
    font-size: 3.2rem;
    width: 29rem;
  }

  .textcontent p {
    width: 31.5rem;
    line-height: 2.6rem;
    font-size: 1.6rem;
  }

  .two {
    background-image: linear-gradient(
        hsla(192, 37%, 48%, 0.9),
        hsla(192, 37%, 48%, 0.9)
      ),
      url(./assets/mobile/image-footer.jpg);
    margin-top: 18rem;
  }

  .two h1 {
    font-size: 3.2rem;
  }

  .footer_summary {
    font-size: 1.8rem;
    width: 30rem;
  }
}